/* div {
    border: 0.5px solid black;
} */
body {
    font-family: Roboto;
}
#bar {
    border-radius: 40px;
    background-clip: content-box;
    box-shadow: 5px 5px 1px slategray;
}
    /* Bar top */
    #bartop {
        color: white;
        
        display: grid;
        grid-template-columns: 0.5fr 2fr;
        grid-auto-columns: min-content;
        
        background-image: url("/misc/nyc.png");
        background-position: center;
        background-size: cover;
        background-clip: border-box;
        border-radius: 40px 40px 0px 0px;
        padding: 10px;
    }
        #profimg {
            background-color: blueviolet;
            border-radius: 50%;
            text-align: center;
            text-justify: center;

            grid-column: 1;
            grid-row: 1 / span 3;
            margin: 10px;
            height: 300px;
            width: 300px;
            min-height: 200px;
            min-width: 200px;
        }
        #profimg::before{
            content: "NYC";
        }
        #bartitle {
            font-size: 2em;
            grid-column: 2;
            grid-row: 1;
        }
        #bardescription {
            grid-column: 2;
            grid-row: 2;
        }
        #barsettings {
            position: absolute;
            right: 0;
            margin: 10px;
            height: fit-content;
        }
        #bartags {
            text-align: left;
            grid-column: 2;
            grid-row: 3;
        }
        #bartags li::before{
            content: "tags";
        }
        .tags {
            display: inline-flex;
            flex-direction: row;
            border-radius: 20%;
            margin: 5px;
            padding: 5px;
            background-color: teal;
            font-weight: bolder;
            color: white;
        }
        
    /* Bar content */
    #barcontent {
        background-color: whitesmoke;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        border-radius: 0px 0px 40px 40px;
        /* background-clip: content-box; */
        justify-content: space-evenly;
        padding: 20px;
    }
    #barcontent div {
        margin: 10px;
    }
        .room {
            background-color: lavender;
            width: 33%;
            height: auto;
            background-clip: inherit;
            border-radius: 20px;
        }
        .closed {
            background-color: rgb(250, 208, 208) !important;
            background-clip: inherit;
        }
        .members {
            /* display: grid; */
            width: 33%;
            background-clip: inherit;
            overflow-y: scroll;
            overflow-x: hidden;
            height: 300px;
        }
        .jesse {
            background-image: unset;
        }
        .jesse::before {
            content: "Jesse Bartola";
        }