# Operating System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Secrets & Environment variables
.env
.env.*
*.env
*.pem
*.key
*.cert
*.crt

# Node / Build artifacts
node_modules/
dist/
build/
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor & IDE configs
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo
*~
