body {
    overflow: hidden;
    margin: 0%;
    cursor: default;
    color: white;
    background-color: blueviolet;
    font-family: 'Space Mono', monospace;
}
#container {
    /* display: flex;
    align-content: center;
    border: none !important; */
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    background-color: black;
}
#card_container {
    height: 95%;
    width: 95%;
    grid-row: 1;
    justify-items: center;
    align-items: center;
    display: grid;
    margin: 1%;
    border: 2px solid white !important;
    justify-content: center;
    align-content: center;
    text-align: center;
}
#card_display {
    height: 16em;
    width: 16em;
    margin: 2%;
    background-color: black;
    font-weight: bolder;
    color: white;
    border-radius: 1em;
}
#card_button button {
    cursor: pointer;
}
#drawn_counter {
    display: inline-flex;
    height: auto;
    width: auto;
    justify-items: center;
    align-items: center;
}
#dice_container {
    height: 95%;
    width: 95%;
    grid-row: 2;
    justify-items: center;
    align-items: center;
    display: grid;
    margin: 1%;
    border: 2px solid white !important;
    justify-content: center;
    align-content: center;
    text-align: center;
}
#dice_display {
    height: 16em;
    width: 16em;
    margin: 2%;
    background-color: black;
    font-weight: bolder;
    color: white;
    border-radius: 1em;
}
#roll_dice_button button {
    cursor: pointer;
}
#rolled_counter {
    display: inline-flex;
    height: auto;
    width: auto;
    justify-items: center;
    align-items: center;
}
#title {
    display: flex;
    align-content: center;
    background-image: none;
}
div {
    border: white 1px dashed;
    /* margin: auto; */
}
#settings {
    display: inline-flexbox;
    grid-row: 3;
    grid-column: 1;
    margin: 1%;
    justify-self: right;
}
#rules {
    display: inline-flexbox;
    grid-row: 3;
    grid-column: 1;
    margin: 1%;
    justify-self: left;
}
.modal {
    display: none;
}
#rulesmodal {
    display: none;
}
#settingsmodal {
    display: none;
}