body {
    overflow: hidden;
    margin: 0%;
    padding: 0%;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    cursor: default;
    color: white;
    background-color: black;
    font-family: 'Space Mono', monospace;
}
#logo {
    height: auto;
    width: 80vw;
    /* border: 5px solid red; */
    margin: 0.2em;
}
#container {
    /* display: flex;
    align-content: center;
    border: none !important; */
    /* height: 100vh;
    width: 100vw; */
    height: 99vh;
    width: 99vw;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    background-color: black;
}
#card_container {
    height: auto;
    width: 90%;
    grid-row: 1;
    justify-items: center;
    align-items: center;
    display: grid;
    margin: 1%;
    border: 2px solid white !important;
    justify-content: center;
    align-content: center;
    text-align: center;
}
#card_display {
    height: 5em;
    width: 80%;
    margin: 2%;
    background-color: black;
    font-weight: bolder;
    color: white;
    border-radius: 1em;
    /* font-size: 20px; any font size changes break the page :/ */
}
#card_button button {
    cursor: pointer;
}
#drawn_counter {
    display: inline-flex;
    height: auto;
    width: auto;
    justify-items: center;
    align-items: center;
}
#dice_container {
    height: auto;
    width: 90%;
    grid-row: 2;
    justify-items: center;
    align-items: center;
    display: grid;
    margin: 1%;
    border: 2px solid white !important;
    justify-content: center;
    align-content: center;
    text-align: center;
    
}
#dice_display {
    height: 5em;
    width: 80%;
    margin: 2%;
    background-color: black;
    font-weight: bolder;
    color: white;
    border-radius: 1em;
    /* background-image: 'cardgame_favicons/android-chrome-512x512.png' !important; I can't get any background image divs to work :(*/
}
#roll_dice_button button {
    cursor: pointer;
}
#rolled_counter {
    display: inline-flex;
    height: auto;
    width: auto;
    justify-items: center;
    align-items: center;
}
#title {
    display: flex;
    align-content: center;
    background-image: none;
}
div {
    border: white 1px dashed;
    /* margin: auto; */
}
#settings {
    display: inline-flexbox;
    grid-row: 3;
    grid-column: 1;
    margin: 1%;
    justify-self: right;
    font-size: 15px;
}
#rules {
    display: inline-flexbox;
    grid-row: 3;
    grid-column: 1;
    margin: 1%;
    justify-self: left;
    font-size: 15px;
}
.modal {
    display: none;
}
#rulesmodal {
    display: none;
}
#settingsmodal {
    display: none;
}