#griddle {
    display: grid;
    position: relative;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
    align-content: center;
}
.cert {
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
    /* display: grid; */
    align-self: center;
    /* border: 1px solid black; */
    padding: 10px;
    align-content: center;
    background-color: aliceblue;
    border-radius: 10px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.cert img {
    align-self: center;
    align-content: center;
    border-radius: 10px;
    max-width: 300px;
    margin: 10px;
    display: flex;
}
.cert audio {
    display: block;
}
.quote {
    inline-size: 300px;
    overflow-wrap: break-word;
    background-color: darkslategrey;
    padding: 10px;
    margin: 10px;
    align-items: center;
    align-self: center;
    justify-content: center;
    justify-self: center;
    color: white;
    border-radius: 10px;
}
p {
    padding: 0;
    margin: 0;
    display: flex;
}
.titlecert {
    font-size: 35px;
    font-family: 'Rubik', sans-serif;
    /* display: grid; */
    align-self: center;
    color: white;
}