/* #header {
    grid-row: 1;
    grid-column: 1;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    z-index: 1;
    position: sticky;
    justify-content: center;
} */

canvas {
    height: 100%;
    width: 100%;
    /* background: rgb(173,173,173);
    background: linear-gradient(277deg, rgba(173,173,173,1) 0%, rgba(255,255,255,1) 29%); */
    grid-row: 1;
    grid-column: 1;
    z-index: 0;
}
/* https://codepen.io/anon/embed/qBbQeON?height=500&theme-id=1&slug-hash=qBbQeON&default-tab=result#css-box for bg */
body {
    /* background: rgb(173,173,173);
    background: linear-gradient(277deg, rgba(173,173,173,1) 0%, rgba(255,255,255,1) 29%); */
    /* testing an animated gradient bg using the four balloon colors!!! */
    background: linear-gradient(-45deg, #0F9D58, #F4B400, #DB4437, #4285F4);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: 100vw;
    overflow: hidden;
}
/* baby's second media query */
@media (max-width: 600px) {
    #headline {
        content: 'Welcome';
    }
    #spin {
        display: none;
    }
}

/* makes the background animation work */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#text {
    /* margin-left: 1em; */
    grid-row: 1;
    grid-column: 1;
    justify-self: center;
    align-self: center;
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
    /* font-weight: bolder; */
    z-index: 1;
    color: white;
}
#codeblock {
    width: fit-content;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #262626;
    color:lightgoldenrodyellow;
    padding: 20px;
    border: 1px solid lightslategrey;
    border-radius: 10px;
}
code a {
    color: #4285F4;
}
code b {
    color: #0F9D58;
}

/* spin from here: https://codepen.io/Rafu/pen/VJYRyY */
#spin {
    color:white;
    background-color: #262626;
    position: fixed;
    white-space: pre;
  }
#spin:after {
    content:"";
    animation: spin 13s linear infinite;
}
@keyframes spin {
    0% { content:"personal website.";}
    10% { content:"portfolio.";}
    20% { content:"resume.";}
    30% { content:"certifications.";}
    40% { content:"funky fun balloon zone.";}
    50% { content: "project.";}
    60% { content: "misadventures in web development.";}
    70% { content: "Github pages site.";}
    80% { content: "innermost thoughts.";}
    90% { content: "testbed.";}
}