/* inspired by https://www.youtube.com/watch?v=MmdKeypSxE8 */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(344deg, rgba(2,0,36,1) 0%, rgba(125,125,125,1) 35%, rgba(230,251,255,1) 100%);
    color: white; 
    font-family: 'Rubik', sans-serif;
}
div {
    position: relative;
    transform: skewY(-15deg);
    background-color: #595959;
    padding: 15px;
}
div::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 100%;
    background: #404040;
    top: 0;
    left: -40px;
    transform-origin: right;
    transform: skewY(45deg);
}
div::after {
    background: #262626;
    content: '';
    position: absolute;
    width: 40px;
    height: 100%;
    top: 0;
    left: -40px;
    transform-origin: top;
    transform: skewY(-45deg);
}
h2 {
    background-color: rgba(0, 0, 0, 0.226);
    padding: 10px;
    font-weight: bolder;
}
/* #experience {
    background-color: green;
}
#education {
    background-color: green;
}
#skills {
    background-color: green;
}
#athletics {
    background-color: green;
}
#certifications {
    background-color: green;
}
#personal {
    background-color: green;
} */