/* inspired by https://www.youtube.com/watch?v=MmdKeypSxE8 */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(344deg, rgba(2,0,36,1) 0%, rgba(125,125,125,1) 35%, rgba(230,251,255,1) 100%);
    color: white; 
}
div {
    position: relative;
    transform: skewY(-15deg);
    background-color: black;
}
div::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 100px;
    background: darkgreen;
    top: 0;
    left: -40px;
    transform-origin: right;
    transform: skewY(45deg);
}
#experience {
    background-color: green;
}
#education {
    background-color: green;
}
#skills {
    background-color: green;
}
#athletics {
    background-color: green;
}
#certifications {
    background-color: green;
}
#personal {
    background-color: green;
}