html {
	background: background-color:rgb(128,128,128); 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	background-size: cover;
}
.p-notice {
	text-align: center;
	color: white;
	font-family: helvetica;
	font-size: 50px;
	font-weight: bold;
}
.p-disclaimer {
	text-align: center;
	color: #cfcfcf;
	font-family: helvetica;
	font-size: 30px;
	font-weight: bold;
}
#top-notice {
	position: absolute;
 	margin: auto;
  	top: 0%;
  	right: 0;
  	bottom: 0;
  	left: 0;
}
#bottom-notice {
	position: absolute;
 	margin: auto;
  	top: 88%;
  	right: 0;
  	bottom: 0;
  	left: 0;
}
